{% extends 'base.html' %}

{% block title %}
    <title>Category:Two-Shot</title>
{% endblock title %}

{% block content %}
<main>
    <h1>Expense Category</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of receipts</th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
          <tr>
            <td>{{ category.name}}</td>
            <td>{{ category.receipts.all|length }}</td>
        {% endfor %}
      </tbody>
    </table>
</main>
{% endblock content %}

