nav {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    border-bottom: 3px solid #44803F;
    padding: 16px;
    background-color: #FF5A33;

}

.nav-text-color {
    color: #ecece7;
}


footer {
    padding: 24px 16px;
    background-color: #B4CF66;
    font-weight: bold;
}
